@import "styles/theme";
.balanceAndAccountsLayout{
  display: flex;

}
.containerEuroIcon{
  display: flex;
  align-items: center;
  padding: 5px 1px;

}
.arrowDown{
  width: 20%;
  height: 20%;
  margin-left: 3px;
}
.euroIcon {
  width: 25px;
  border-radius: 50%;
}

.balance{
 font-size: $font-banner;
 font-weight: 900;

}

.cent{
  font-size: $font-call-out;
}

.currencyName{
  font-size: 12px;
  font-weight: bold;
  color:#8B959E;
  margin: 0 5px;
}
